{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":4},"end":{"row":4,"column":4},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1563748833959,"hash":"1a5a2f09ad9627c6a56af0135a18f28739b9adf0"}